.landing-head {
	height: 650px;
	background-image: url('https://i.pinimg.com/originals/55/35/3d/55353dbd6a3e9a6f8f5a665a9e81f1bb.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-top: 1px solid black;
	width: 100%;
	border-bottom: 1px solid black;
}

.landing-title {
	float: left;
	height: 150px;
	width: 270px;
}

li.landing-list {
	float: right;
	color: white;
	display: inline;
	margin-top: 3%;
	padding-right: 3%;
	font-size: 20px;
}

a {
	color: white;
}

.statement {
	text-align: center;
	margin-top: 200px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	line-height: 145%;
}


input.landing-signup, input.info {
	width: 20%;
}

.closeInfoModal {
	float: right;
	background-color: #aaa;
}

.first-row {
	margin-top: -20px;
	width: 100%;
	height: 650px;
	border-bottom: 1px solid black;
}


.bullet-1 {
	float: left;
	margin-left: 100px;
	text-align: left;
	margin-top: 15%;
	width: 500px;
	font-size: 20px;
	line-height: 145%;
}

.second-row {
	height: 650px;
	margin-top: -20px;
	border-bottom: 1px solid black;
}

.bullet-2 {
	float: right;
	margin-right: 100px;
	margin-top: 15%;
	width: 500px;
	font-size: 20px;
	line-height: 145%;
}

.third-row {
	margin-top: -20px;
	height: 650px;
}

.bullet-3 {
	float: left;
	margin-top: 15%;
	margin-left: 100px;
	width: 500px;
	font-size: 20px;
	line-height: 145%;
}

.modal-container {
	position: fixed;
}

div.ReactModal__Content.ReactModal__Content--after-open {
	/*background-color: #5e5d5d !important;*/
  	background-color: #161C21 !important;
	color: white;
}

.landing-modal {
	text-align: center;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

img.mock-up1 {
	height: 450px;
	width: 450px;
	position: relative;
	left: 155%;
	bottom: 300px;
}


img.mock-up2 {
	height: 450px;
	width: 450px;
	position: relative;
	left: 8%;
	top: -134px;
}

img.mock-up3 {
	height: 450px;
	width: 450px;
	position: relative;
	left: 19%;
	top: 16%;
}

@media (max-width: 1024px) {
	div.landing-head {
		width: 100%;
		height: 800px;
	}

	img.landing-title {
		height: 176px;
		width: 330px;
	}

	.landing-inputs {
		bottom: -40px
	}


	.first-row, .second-row, .third-row {
		width: 100%;
	}

	img.mock-up1 {
		left: 108%;
		bottom: 310px;
	}

	img.mock-up2 {
		left: 2%;
	}

	img.mock-up3 {
		left: 3%;
		top: 18%;
	}

	.statement {
		margin-top: 300px;
	}

	.bullet-1 {
		margin-top: 21%;
		margin-left: 19px;
	}

	.bullet-2 {
		margin-top: -3%;
		margin-right: 18px;
	}

	.bullet-3 {
		margin-left: 20px;
		margin-top: 21%;
	}

	.landing-modal {
		font-size: 25px;
	}
}

@media (max-width: 768px) {
	div.landing-head {
		width: 156%;
	}


	.statement-header {
		font-size: 47px;
	}

	.statement-body {
		font-size: 32px;
	}

	.first-row, .second-row, .third-row {
		width: 156%;
	}

	img.mock-up1 {
		left: 127%;
		bottom: 416px;
	}

	.bullet-1 {
		font-size: 30px;
		text-align: center;
		margin-top: 11%;
	}

	img.mock-up2 {
		left: 6%;
		top: -37%;
	}

	.bullet-2 {
		margin-top: 12%;
		font-size: 30px;
		text-align: center;
	}

	img.mock-up3 {
		left: 12.5%;
	}

	.bullet-3 {
		font-size: 30px;
		text-align: center;
		margin-top: 11%;
	}

	.landing-modal {
		font-size: 30px;
	}
}

@media (max-width: 414px) {
	img.landing-title {
		height: 100px;
		width: 170px;
		position: relative;
		right: 10%;
		bottom: 10px;
	}

	li.landing-list {
		position: relative;
		font-size: 18px;
		right: 2%;
		top: 20px;
	}

	div.landing-head {
		height: 400px;
		width: 110%
	}

	.statement {
		width: 80%;
		position: relative;
		bottom: 199px;
	}

	p.statement-body {
		font-size: 14px;
		line-height: 137%;
	}

	h1.statement-header {
		font-size: 22px;
	}

 	input.info, input.landing-signup {
		width: 180px;
		font-size: 16px;
 	}

 	.first-row {
	 	width: 110%;
	 	height: 500px;
 	}

 	img.mock-up1 {
 		height: 300px;
 		width: 300px;
 		bottom: 448px;
 		left: 3%;
 	}

 	div.bullet-1 {
 		position: relative;
 		width: 80%;
 		right: -3%;
 		top: 50%;
 		font-size: 15px;
 		text-align: center;
 	}

 	.second-row {
	 	width: 110%;
	 	height: 500px;
 	}

 	div.bullet-2 {
 		position: relative;
 		width: 80%;
 		left: -6%;
 		top: 42%;
 		font-size: 15px;
 		text-align: center;
 	}

 	img.mock-up2 {
 		height: 300px;
 		width: 300px;
 		top: -42%;
 		left: 16.2%;
 	}

 	.third-row {
	 	width: 100%;
	 	height: 500px;
 	}

 	div.bullet-3 {
 		position: relative;
 		width: 80%;
 		font-size: 15px;
 		text-align: center;
 		top: 53%;
 		right: -10.5%;
 	}

 	img.mock-up3 {
 		height: 300px;
 		width: 300px;
 		top: -145px;
 		left: 18%;
 	}

 	h3 {
 		font-size: 17px;
 	}

 	button.closeInfoModal {
		position: relative;
		bottom: 28px;
		left: 12px;
	}

	.landing-inputs {
		position: relative;
		bottom: 175px;
	}
}

@media (max-width: 375px) {
	li.landing-list {
		left: -1%;
	}

 	img.mock-up1 {
		left: 0%;
		margin-top: 20px;
	}

	.first-row, .second-row, .third-row {
		width: 122%;
	}

	div.bullet-1 {
		right: -6%;
	}

 	img.mock-up2 {
		left: 17%;
		top: -43%;
 	}

	div.bullet-2 {
		left: -6%;
 	}

 	img.mock-up3 {
 		left: 16%;
 		top: -31%;
 	}

	div.bullet-3 {
		right: -6%;
	}

	h1.statement-header {
		font-size: 23px;
	}

	.statement {
		font-size: 15px
	}

	div.landing-head {
		width: 122%;
	}

}

@media (max-width: 360px) {
	li.landing-list {
		left: -1%;
	}

 	img.mock-up1 {
		left: 0.5%;
	}

	div.bullet-1 {
		right: -6%;
	}

 	img.mock-up2 {
		left: 22%;
		top: -45%;
 	}

	div.bullet-2 {
		left: -6.5%;
 	}

 	img.mock-up3 {
 		left: 22%;
 		top: -28%;
 	}

	div.bullet-3 {
		right: -7.5%;
	}

	button.closeInfoModal {
		position: relative;
		bottom: 28px;
		left: 12px;
	}

	div.landing-head {
		width: 150%;
	}

	.first-row, .second-row, .third-row {
		width: 150%;
	}


}
