.landing-head {
	height: 650px;
	background-image: url('https://i.pinimg.com/originals/55/35/3d/55353dbd6a3e9a6f8f5a665a9e81f1bb.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-top: 1px solid black;
	width: 100%;
	border-bottom: 1px solid black;
}

.landing-title {
	float: left;
	height: 150px;
	width: 270px;
}

li.landing-list {
	float: right;
	color: white;
	display: inline;
	margin-top: 3%;
	padding-right: 3%;
	font-size: 20px;
}

a {
	color: white;
}

.statement {
	text-align: center;
	margin-top: 200px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

input.landing-signup, input.info {
	width: 20%;
}

.closeInfoModal {
	float: right;
	background-color: #aaa;
}

.first-row {
	margin-top: -20px;
	width: 100%;
	height: 650px;
	border-bottom: 1px solid black;
}


.bullet-1 {
	float: left;
	margin-left: 100px;
	text-align: left;
	margin-top: 15%;
	width: 500px;
}

.second-row {
	height: 650px;
	margin-top: -20px;
	border-bottom: 1px solid black;
}

.bullet-2 {
	float: right;
	margin-right: 100px;
	margin-top: 15%;
	width: 500px;
}

.third-row {
	margin-top: -20px;
	height: 650px;
}

.bullet-3 {
	float: left;
	margin-top: 15%;
	margin-left: 100px;
	width: 500px;
}

.modal-container {
	position: fixed;
}

div.ReactModal__Content.ReactModal__Content--after-open {
	background-color: #5e5d5d !important;
	color: white;
}

.landing-modal {
	text-align: center;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

img.mock-up1 {
	height: 450px;
	width: 450px;
	position: relative;
	left: 155%;
	bottom: 250px;
}


img.mock-up2 {
	height: 450px;
	width: 450px;
	position: relative;
	left: 8%;
	top: -84px;
}

img.mock-up3 {
	height: 450px;
	width: 450px;
	position: relative;
	left: 19%;
	top: 16%;
}

@media (max-width: 414px) {
	img.landing-title {
		height: 130px;
		width: 220px;
		position: relative;
		right: 10%;
		bottom: 40px;
	}

	li.landing-list {
		position: relative;
		font-size: 18px;
		right: 10%;
		top: 40px;
	}

	div.landing-head {
		height: 500px;
		max-width: 414px;
	}

	.statement {
		font-size: 13px;
		width: 80%;
		position: relative;
		bottom: 30px;
	}

 	input.info, input.landing-signup {
		width: 180px;
		font-size: 16px;
 	}

 	.first-row {
	 	max-width: 414px;
	 	height: 500px;
 	}

 	img.mock-up1 {
 		height: 300px;
 		width: 300px;
 		bottom: 400px;
 		left: 12px;
 	}

 	div.bullet-1 {
 		position: relative;
 		width: 80%;
 		right: 15%;
 		top: 50%;
 		font-size: 13px;
 		text-align: center;
 	}

 	.second-row {
	 	max-width: 414px;
	 	height: 500px;
 	}

 	div.bullet-2 {
 		position: relative;
 		width: 80%;
 		left: 12%;
 		top: 50%;
 		font-size: 13px;
 		text-align: center;
 	}

 	img.mock-up2 {
 		height: 300px;
 		width: 300px;
 		top: -135px;
 		left: 52px;
 	}

 	.third-row {
	 	max-width: 414px;
	 	height: 500px;
 	}

 	div.bullet-3 {
 		position: relative;
 		width: 80%;
 		font-size: 13px;
 		text-align: center;
 		top: 50%;
 		right: 18%;
 	}

 	img.mock-up3 {
 		height: 300px;
 		width: 300px;
 		top: -135px;
 		left: 52px;
 	}

 	h3 {
 		font-size: 17px;
 	}

 	button.closeInfoModal {
		position: relative;
		bottom: 28px;
		left: 12px;
	}
}

@media (max-width: 375px) {
	li.landing-list {
		left: -1%;
	}

 	img.mock-up1 {
		left: 0%;
	}

	div.bullet-1 {
		right: 16.5%;
	}

 	img.mock-up2 {
		left: 37px;
 	}

	div.bullet-2 {
		left: 16.5%;
 	}

 	img.mock-up3 {
 		left: 39px;
 	}

	div.bullet-3 {
		right: 16%;
	}

}

@media (max-width: 360px) {
	li.landing-list {
		left: -1%;
	}

 	img.mock-up1 {
		left: -2.5%;
	}

	div.bullet-1 {
		right: 17.5%;
	}

 	img.mock-up2 {
		left: 31px;
		top: -160px;
 	}

	div.bullet-2 {
		left: 16.5%;
 	}

 	img.mock-up3 {
 		left: 31px;
 	}

	div.bullet-3 {
		right: 17.5%;
	}

	button.closeInfoModal {
		position: relative;
		bottom: 28px;
		left: 12px;
	}


}
