.beerCard {
	max-height: 250px	;
	width: 230px;
	height: 250px;
	background-color: #DEDEDE;
	text-align: center;
	margin-left: 9%;
	margin-top: 50px;
	border: 1px solid black;
}

.card-container {
	background-color: #EEEFEF;
}

div.beerCard {
	display: inline-block;
	background-color: #EEEFEF
}

.beer-image {
	height: 100px;
	width: 140px;
	border: 1px solid black;
}