* {
	box-sizing: border-box;
}

nav {
  /*padding: 1.5%;*/
  background-color: #161C21;
  position: fixed;
  z-index: 10;
  width: 100%;
  margin-bottom: 5px;
  border-top: 1px solid black;
  vertical-align: middle;
}

input.main-search {
	display: inline;
	margin-top: 1%;
}

h1.title {
	color: #999999;
	text-align: left;
	padding-left: 1%;
	display: inline;
}

ul.nav-list {
	list-style-type: none;
	color: #999999;
	display: inline;
}

li {
	display: inline;
	float: right;
	padding-right: 2%;
	font-size: 20px;
	margin-top: 2%
}

.main-search {
	width: 200px;
	margin-left: 40px;
}