div.signup-body {
  background-color: #5c5a59;
  max-height: 780px;
  height: 780px;
}

.signup-container {
  position: relative;
  background-color: #f5eeed;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  top: 75px;
}

form.signup-form {
  display: block;
  padding: 5%;
}

.head {
  height: 5%;
  border: 1px solid black;
  text-align: center;
  background-color: #151B20;
  height: 10%;
  font-size: 20px;
}

input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 75%;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
}

button.signup-submit {
 /* margin-right: auto;
  margin-left: auto;*/
  background-color: #539FC5;
  width: 75%;
  height: 35px;
  margin-left: 64px;
}

.login-link {
  color: #999999;
}

.form-links {
  text-align: center;
}

