.signup-container {
  position: relative;
  background-color: gray;
  width: 40%;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  top: 160px;
}

form.signup-form {
  display: block;
  padding: 5%;
}

.head {
  height: 5%;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  height: 10%;
  font-size: 20px;
}

input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 75%;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
}

input.signup-submit {
  text-align: center;
  background-color: #aaa;
}

.login-link {
  color: yellow;
}

.form-links {
  text-align: center;
}