.jumbotron {
	width: 76%;
	height: 100%;
	margin-left: 23.9%;
	position: fixed;
	overflow: scroll;
	margin-top: -1%;
	background-color: #EEEFEF;
	border-left: 2px solid black;
}

@media (max-width: 414px) {
	.jumbotron {
		width: 100%;
	}
}
