.side-bar {
	height: 100%;
	width: 25.5%;
	background-color: gray;
	background-attachment: scroll;
  	background-color: #161C21;
  	position: fixed;
  	overflow: scroll;
  	margin-top: 5%;
}

@media (max-width: 1024px) {
	.side-bar {
		width: 25%;
	}
}


@media (max-width: 414px) {
	.side-bar {
		width: 40%;
	}
}