div.login-body {
  background-color: #5c5a59;
  max-height: 780px;
  height: 780px;
  padding: 10%;
}

div.login-container {
  background-color: #f5eeed;
  width: 60%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

form.login-form {
  display: block;
  margin-top: 5%;
  padding: 5%;
}

.head {
  border: 1px solid black;
  text-align: center;
  background-color: #151B20;
  color: #999999;
  height: 15%;
  font-size: 20px;
}


input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
}

button.login-submit {
  background-color: #539FC5;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #539FC5;
  width: 75%;
  height: 35px;
  margin-left: 12.5%;
  color: white;
  font-size: 15px;
}

.register-link {
  color: #999999;
}

div.form-links {
  text-align: center;
}

.demo-login {
  cursor: pointer;
  text-decoration: underline;
  color: #999999;
}

@media only screen and (max-width: 800px) {
  div.login-container {
    width: 90%;
    height: 500px;
  }

  div.form-links {
    font-size: 15px;
  }
}

