.breweryContainer {
	background-color: white;
	border: 1px solid #999999;
	text-align: center;
  	background-color: #161C21;
  	color: #FFFFFF;
  	padding: 7%;
  	cursor: pointer;
}

.brewLogo {
	margin-right: 3.5%;
}

@media (max-width: 1024px) {
	img.brewLogo {
		width: 90%;
		margin-left: 4%;
	}

	.breweryContainer {
		padding-top: .5%;
	}

	input#main-search {
		margin-top: 3%;
	}
}

@media (max-width: 414px) {
	img.brewLogo{
		width: 59%;
		margin-left: -35.5%;
	}

	.side-brew-name {
		font-size: 12px;
		margin-right: 38%;
	}

	.breweryContainer {
		position: relative;
		top: 7%;
		right: 2.5%;
	}
}